mixin burger-menu()
  .burger-menu
    .burger-menu__button
      button.burger-menu__button-btn
        <i class="fas fa-bars"></i>
    nav.burger-menu__navigation
      ul.burger-menu__navigation_list
        li.burger-menu__navigation_list-item
          a(href="#") Домой
        li.burger-menu__navigation_list-item
          a(href="#") О нас
        li.burger-menu__navigation_list-item
          a(href="#") Контакты
    .burger-menu__call
      a(href="#")
        <i class="fas fa-phone-alt"></i>
    .burger-menu__social-media
      a(href="#")
        <i class="fab fa-instagram"></i>
      a(href="#")
        <i class="fab fa-vk"></i>