mixin achieve()
  .achieve
    .achieve__block
      .achieve__block_icon
        <i class="fas fa-box-open"></i>
      span.achieve__block_num 86622
      p.achieve__block_desc Тонн доставленных грузов
    .achieve__block
      .achieve__block_icon
        <i class="fas fa-file-alt"></i>
      span.achieve__block_num 2586
      p.achieve__block_desc Подписанных контрактов
    .achieve__block
      .achieve__block_icon
        <i class="fas fa-truck-moving"></i>
      span.achieve__block_num 2384
      p.achieve__block_desc Проехали киллометров
    .achieve__block
      .achieve__block_icon
        <i class="fas fa-globe"></i>
      span.achieve__block_num 15
      p.achieve__block_desc лет успешной работы