mixin footer()
    footer.footer
        .footer__social
            ul.footer__social_list
                li.footer__social_list-icons
                    a(href="#")
                        <i class="fab fa-instagram"></i>
                li.footer__social_list-icons
                    a(href="#")
                        <i class="fab fa-vk"></i>
            p © Photo, Inc. 2019. We love our users!
            button.scroll-top(hidden= true)
                <i class="fas fa-arrow-up"></i>